TianTai/SHOP_TianTai/ERPShopService.BLL/Service References/com/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderListResult" type="tns:ArrayOfOrderList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderList" nillable="true" type="tns:OrderList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:Orders" />
          <s:element minOccurs="0" maxOccurs="1" name="li" type="tns:ArrayOfOrderProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Orders">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShopDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeRealName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Payment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Fees" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OtherFees" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Invoice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OgisticsStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessmanID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessmanName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Carriage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeBorough" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsigneeConstructionSigns" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsignesTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TradeFees" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TradeFeesPay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Editer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parentid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="parentCorpName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillingCorp" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCorpName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBusinessCheck" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isFinancialReview" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessCheckDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinancialCheckDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSend" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="splitStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="source" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderProduct" nillable="true" type="tns:OrderProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderProduct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ProNum" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AddTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="pro_pno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pro_pdate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iden" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="jigid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="issplit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="spid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrdersMQ_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrdersMQ_1Response">
        <s:complexType />
      </s:element>
      <s:element name="SynStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynStockResponse">
        <s:complexType />
      </s:element>
      <s:element name="SynPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynPriceResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateOrderStatusForErp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatusForErpResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyCustomer" />
  </wsdl:message>
  <wsdl:message name="ModifyCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapIn">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapOut">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="EditProductSoapIn">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="EditProductSoapOut">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderList" />
  </wsdl:message>
  <wsdl:message name="GetOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrdersMQ_1SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrdersMQ_1" />
  </wsdl:message>
  <wsdl:message name="UpdateOrdersMQ_1SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrdersMQ_1Response" />
  </wsdl:message>
  <wsdl:message name="SynStockSoapIn">
    <wsdl:part name="parameters" element="tns:SynStock" />
  </wsdl:message>
  <wsdl:message name="SynStockSoapOut">
    <wsdl:part name="parameters" element="tns:SynStockResponse" />
  </wsdl:message>
  <wsdl:message name="SynPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SynPrice" />
  </wsdl:message>
  <wsdl:message name="SynPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SynPriceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusForErpSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusForErp" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusForErpSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusForErpResponse" />
  </wsdl:message>
  <wsdl:portType name="APISoap">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <wsdl:input message="tns:ModifyCustomerSoapIn" />
      <wsdl:output message="tns:ModifyCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input message="tns:AddProductSoapIn" />
      <wsdl:output message="tns:AddProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input message="tns:EditProductSoapIn" />
      <wsdl:output message="tns:EditProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input message="tns:DeleteProductSoapIn" />
      <wsdl:output message="tns:DeleteProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <wsdl:input message="tns:GetOrderListSoapIn" />
      <wsdl:output message="tns:GetOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrdersMQ_1">
      <wsdl:input message="tns:UpdateOrdersMQ_1SoapIn" />
      <wsdl:output message="tns:UpdateOrdersMQ_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynStock">
      <wsdl:input message="tns:SynStockSoapIn" />
      <wsdl:output message="tns:SynStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynPrice">
      <wsdl:input message="tns:SynPriceSoapIn" />
      <wsdl:output message="tns:SynPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatusForErp">
      <wsdl:input message="tns:UpdateOrderStatusForErpSoapIn" />
      <wsdl:output message="tns:UpdateOrderStatusForErpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APISoap" type="tns:APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <soap:operation soapAction="http://tempuri.org/ModifyCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <soap:operation soapAction="http://tempuri.org/GetOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrdersMQ_1">
      <soap:operation soapAction="http://tempuri.org/UpdateOrdersMQ_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynStock">
      <soap:operation soapAction="http://tempuri.org/SynStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynPrice">
      <soap:operation soapAction="http://tempuri.org/SynPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatusForErp">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderStatusForErp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APISoap12" type="tns:APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <soap12:operation soapAction="http://tempuri.org/ModifyCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap12:operation soapAction="http://tempuri.org/EditProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <soap12:operation soapAction="http://tempuri.org/GetOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrdersMQ_1">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrdersMQ_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynStock">
      <soap12:operation soapAction="http://tempuri.org/SynStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynPrice">
      <soap12:operation soapAction="http://tempuri.org/SynPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatusForErp">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderStatusForErp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API">
    <wsdl:port name="APISoap" binding="tns:APISoap">
      <soap:address location="http://192.168.1.75:8087/api/api.asmx" />
    </wsdl:port>
    <wsdl:port name="APISoap12" binding="tns:APISoap12">
      <soap12:address location="http://192.168.1.75:8087/api/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>